@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
body{
    font-family: "Allerta Stencil";
    background-color: #0E0E12;
}
main{
    height: 100vh;
}